<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isummit.om.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FeedBack" />
        <activity
            android:name=".Testimonials"
            android:label="@string/title_activity_testimonials"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".Guest" />
        <activity android:name=".GuestListActivity" />
        <activity android:name=".ActivityAlumniAgenda" />
        <activity android:name=".ActivitySummitAgenda" />
        <activity android:name=".DataEntryActivity" />
        <activity android:name=".summit08" />
        <activity android:name=".summit09" />
        <activity android:name=".summit10" />
        <activity android:name=".summit11" />
        <activity android:name=".summit12" />
        <activity android:name=".summit13" />
        <activity android:name=".Prev" />
        <activity
            android:name=".GuestInfoDialogActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".DisplayImagesActivity" />
        <activity android:name=".DisplayImageButtonActivity" />
        <activity android:name=".Gallery" />
        <activity android:name=".GatePass" />
        <activity android:name=".Dummy" />
        <activity android:name=".Youtubes" />
        <activity android:name=".SplashTwo"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".SplashDummy"
            android:theme="@style/SplashTheme">
        </activity>
    </application>

</manifest>